<!--
  Template for the BookmarkPaginationComponent.
  Displays pagination controls with buttons for navigating between pages.
-->
<nav *ngIf="totalPages > 1">
  <!-- Button to navigate to the previous page -->
  <button
    (click)="changePage(currentPage - 1)"
    [disabled]="currentPage === 1">
    &lt;
  </button>

  <!-- Buttons for each page number -->
  <button
    *ngFor="let page of pages"
    (click)="changePage(page)"
    [disabled]="page === currentPage">
    {{ page }}
  </button>

  <!-- Button to navigate to the next page -->
  <button
    (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === totalPages">
    &gt;
  </button>
</nav>
