<!-- Add Bookmark Form -->
<!-- The event is handled in the parent component to update the list of bookmarks. -->
<app-bookmark-form (bookmarkAdded)="handleBookmarkAdded($event)"></app-bookmark-form>

<hr />

<!-- Display the list of bookmarks -->
<app-bookmark-list
  [bookmarks]="paginatedBookmarks"
  (delete)="deleteBookmark($event)">
</app-bookmark-list>

<!-- Pagination Controls -->
<app-bookmark-pagination
  [totalItems]="bookmarks.length"
  [currentPage]="currentPage"
  [itemsPerPage]="bookmarksPerPage"
  (pageChange)="setPage($event)">
</app-bookmark-pagination>

